.jumbotron {
  background-color: #e3eb13;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #e01010;
  margin-top: 20px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel button {
  width: 100%;
  border-radius: 0px; }

.footer-icon {
  padding-right: 10px; }

.tab-content {
  margin-top: 10px; }
