@yellow: #e3eb13;
@red: #e01010;
@green: #10c910;

.margins(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: black;
    .margins(50px, 10px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: @red;
    .margins(20px, 0px);
}

.card-hotel {
    flex: 1 250px;
    .margins(10px, 0px);
}

.card-hotel button {
    width: 100%;
    border-radius: 0px;
}

.footer-icon {
    padding-right: 10px;
}

.tab-content {
    margin-top: 10px;
}