$yellow: #e3eb13;
$red: #e01010;
$green: #10c910;

@mixin margins($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    color: black;
    @include margins(50px, 10px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margins(20px, 0);
}

.card-hotel {
    flex: 1 250px;
    margin-top: 10px;
}

.card-hotel button {
    width: 100%;
    border-radius: 0px;
}

.footer-icon {
    padding-right: 10px;
}

.tab-content {
    margin-top: 10px;
}